.user-cards + .user-cards {
    margin-left: 100px;
}

.repos-cards + .repos-cards {
    margin-left: 25px;
}

.card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 0 !important;
    top: 0 ;
}

.card-description {
    width: 80%;
    height: 60%;
}