.search-bar {
    width: 700px;
    position: absolute;
    right:0;
    margin-right: 200px !important;
    background-color: white;
    border-radius: 100px !important;
}

.toolbar {
    width: 100px;
    margin-left: 200px;
    padding-left: 0;
    color: white;
}

.logo {
    filter: brightness(0) invert(1);
    height: 50px;
 }

input {
    padding: 0 20px !important;
}

.ForwardRef-input-6 {
    padding: 0 !important;
}

.ForwardRef-searchContainer-7  {
    padding-top: 2px !important;

}